.hire__employerinfo{
  height: 100vh;
  position:absolute;
}
.hire__header_cie{
  display: flex;
}
.hire__header_logo_cie img{
  margin-right: 4rem;
}
.hire__header_username_cie{
  display: flex;
  padding-top: 20px;
  padding-left: 800px;
}
.hire__header_username_background_cie{
    background-image: url("../assets/background.png");
    border-radius: 50%;
    height: 30px;
    width: 30px;
    left: 915px;
    top: 25px;
}
.hire__header_username_background_cie h5{
    border-radius: nullpx;
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    padding-left: 7px;
    padding-top: 2px;
    color: white;
}
.hire__header_username_text_cie{
  padding-top: 4px;
  padding-left: 3px;
}
.hire__header_username_text_cie h5{
  height: 26px;
width: 64px;
left: 953px;
top: 27px;
border-radius: nullpx;
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

}
.hire__header_username_downlogo_cie{
  padding-top: 6px;
  margin-left: -4px;
}
.hire__companyinformation_cie h2{
  margin-top: -20px;
  width: 1200px;
  height: 155px;
  text-align: center;
  background-image: url("../assets/background.png");
  color: white;
  background-repeat: no-repeat;
}
.hire__upload_photo_cie{
  display: flex;
  text-align: center;
}
.hire__camera_pic_cie{
  background-image: url("../assets/Rectanglecamera.png");
  height: 112px;
  width: 112px;
  left: 210px;
  top: 250px;
  position:absolute;
  border-radius: 8px;
}
.hire__camera_pic_cie img{
  height: 30px;
  width: 33px;
  left: 3px;
  top: 37px;
  border-radius: 0px;
  position: relative;
  justify-content: center;
  text-align: center;
}
.hire__upload_text_cie h3{
  position:absolute;
  height: 29px;
  width: 246px;
  left: 342px;
  top: 290px;
  border-radius: nullpx;
  font-family: var(--font_family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.hire__employee_data_cie{
  margin-left: 13rem;
  margin-top: 10rem;
}
.hire__company_name_cie input{
    width: 100%;
    max-width: 25rem;
    min-width: 780px;
    min-height: 60px;
    margin-bottom: 0.5rem;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    padding: 0 1rem;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.hire__company_mail_cie input{
  width: 100%;
  max-width: 25rem;
  min-width: 780px;
  min-height: 60px;
  border: 1px solid #D2D2D2;
  border-radius: 8px;
  padding: 0 1rem;
  font-family: var(--font_family);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.hire__phone_number_cie input{
    width: 100%;
    max-width: 25rem;
    min-width: 780px;
    min-height: 60px;
    margin-top: 0.5rem;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    padding: 0 1rem;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.hire__country_dropdown_cie{
  max-width: 25rem;
  min-width: 780px;
  min-height: 60px;
  padding-top: 0.5rem;
  border-radius: 8px;
}
.hire__country_dropdown_cie select{
  min-height: 60px;
}
.hire__state_region_cie input{
  width: 100%;
  max-width: 25rem;
  min-width: 780px;
  min-height: 60px;
  margin-top: 0.5rem;
  border: 1px solid #D2D2D2;
  border-radius: 8px;
  padding: 0 1rem;
  font-family: var(--font_family);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.hire__company_size_cie input{
    width: 100%;
    max-width: 25rem;
    min-width: 780px;
    min-height: 60px;
    margin-top: 0.5rem;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    padding: 0 1rem;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.hire__company_description_cie{
  display: flex;
}
.hire__company_description_cie input{
  width: 100%;
  max-width: 26.75rem;
  min-width: 780px;
  min-height: 100px;
  margin-top: 0.5rem;
  border: 1px solid #D2D2D2;
  border-radius: 8px;
  font-family: var(--font_family);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.hire__company_links_cie{
  padding-top: 15px;
}
.hire__company_links_cie h2{
  font-family: var(--font_family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

}
.hire__social_links_cie{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
.hire__www_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
  margin-right: 1rem;
  width: 60px;
  cursor: pointer;
}
.hire__www_cie img{
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}
.hire__linkedin_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
  margin-right: 1rem;
  width: 60px;
  cursor: pointer;
}
.hire__linkedin_cie img{
  padding-left: 0.4rem;
  padding-top: 0.5rem;
}
.hire__facebook_cie{
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  padding: 6px;
  margin-right: 1rem;
  width: 60px;
  cursor: pointer;
}
.hire__facebook_cie img{
  padding-left: 0.1rem;
  padding-top: 0.5rem;
}
.hire__github_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
  margin-right: 1rem;
  width: 60px;
  cursor: pointer;
}
.hire__github_cie img{
  padding-left: 0.4rem;
  padding-top: 0.5rem;
}
.hire__instagram_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
  margin-right: 1rem;;
  width: 60px;
  cursor: pointer;
}
.hire__instagram_cie img{
  padding-left: 0.4rem;
  padding-top: 0.5rem;
}
.hire__telegram_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
  margin-right: 1rem;
  width: 60px;
  cursor: pointer;
}
.hire__telegram_cie img{
  padding-left: 0.6rem;
  padding-top: 0.5rem;
}
.hire__youtube_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  width: 60px;
}
.hire__youtube_cie img{
  padding-left: 0.6rem;
  padding-top: 0.8rem;
}
.hire__create_button_cie{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.hire__create_button_cie button{
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 150px;
    min-height: 40px;
    background: #00ADB5;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 2;
    font-weight: 200;
    font-size: 12px;
    line-height: 26px;
    color: #EEEEEE;
    outline: none;
    cursor: pointer;
    padding: 0 1rem;
    border: none;
}
