.hire__vacancy_page_vp_wf {
  display: flex;
  width: 100%;
}
.hire__vacancy_page_left_vp_wf {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 13rem;
  min-height: 10rem;
  border: 1px solid #eeeeee;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
  align-items: center;
  text-align: center;
  justify-content: center;
}
.hire__username_vp_wf {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 10rem;
  min-height: 5rem;
  border: 1px solid #eeeeee;
  background: rgba(238, 238, 238, 1);
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.hire__username_vp_wf img {
  cursor: pointer;
}
.hire__username_text_vp_wf h5 {
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
}
.hire__username_text_vp_wf h6 {
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
.hire__createvacancy_vp_wf {
  width: 100%;
  max-width: 10rem;
  min-height: 3rem;
  margin-bottom: 2rem;
}
.hire__createvacancy_vp_wf button {
  justify-content: center;
  flex: 0.2;
  width: 10rem;
  min-height: 2.5rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
.hire__notifications_vp_wf {
  width: 100%;
  max-width: 10rem;
  min-height: 3rem;
  margin-bottom: 2rem;
}
.hire__notifications_vp_wf button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  max-width: 10rem;
  min-height: 2.5rem;
  background: rgba(241, 241, 241, 1);
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__vacancies_vp_wf {
  width: 100%;
  max-width: 10rem;
  min-height: 3rem;
  margin-bottom: 2rem;
}
.hire__vacancies_vp_wf button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  max-width: 10rem;
  min-height: 2.5rem;
  background: rgba(241, 241, 241, 1);
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__messages_vp_wf {
  width: 100%;
  margin-bottom: 2rem;
}
.hire__messages_vp_wf button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  max-width: 10rem;
  min-height: 3rem;
  background: rgba(241, 241, 241, 1);
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__settings_vp_wf {
  width: 100%;
  margin-bottom: 2rem;
}
.hire__settings_vp_wf button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  max-width: 10rem;
  min-height: 3rem;
  background: rgba(241, 241, 241, 1);
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__feedback_vp_wf {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 10rem;
  min-height: 3rem;
  margin-bottom: 2rem;
}
.hire__feedback_vp_wf button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  width: 10rem;
  min-height: 2.5rem;
  background-color: rgba(241, 241, 241, 1);
  border: 1px solid;
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__logout_vp_wf {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 10rem;
  min-height: 3rem;
  margin-bottom: 2rem;
}
.hire__logout_vp_wf button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  width: 10rem;
  min-height: 3rem;
  background-color: rgba(241, 241, 241, 1);
  border: 1px solid;
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__vacancy_page_right_vp_wf {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
.hire__vacancy_header_vp_wf {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.hire__vacancy_header1_vp_wf {
  display: flex;
}
.hire__vacancy_header2_vp_wf {
  display: flex;
  padding-left: 4rem;
}
.hire__vacancy_header1_vp_wf h3 {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}
.hire__vacancy_header2_vp_wf h3 {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
}
.hire__search_vacancy_vp_wf {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}
.hire__search_vp_wf input {
  width: 100%;
  max-width: 50rem;
  min-width: 20rem;
  min-height: 3rem;
  border: 1px solid #d2d2d2;
  border-radius: 8px;
  padding: 0 1rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.hire__job_vacancy_vp_wf {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.hire__job_title_1_vp_wf {
  display: flex;
  flex-direction: row;
  width: 50rem;
  min-height: 5rem;
  border: 1px;
  border-radius: 8px;
  background: rgba(241, 245, 248, 1);
  margin-bottom: 1rem;
}
.hire__job_title_1_text_vp_wf h3 {
  width: 10rem;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  margin-top: 2rem;
  margin-left: 1rem;
}
.hire__job_title_1_image_vp_wf {
  margin-top: 2rem;
  padding-left: 28rem;
  cursor: pointer;
}
.hire__job_title_1_image_vp_wf img {
  border: 1px;
  border-radius: 50%;
  background: #eeeeee;
  color: #eeeeee;
}
.hire__job_tile_1_viewapplication_vp_wf {
  margin-top: 1.2rem;
}
.hire__job_tile_1_viewapplication_vp_wf button {
  justify-content: center;
  flex: 0.2;
  width: 7rem;
  min-height: 2.5rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
.hire__job_title_2_vp_wf {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 50rem;
  min-width: 15rem;
  min-height: 5rem;
  border: 1px;
  border-radius: 8px;
  background: rgba(241, 245, 248, 1);
  margin-bottom: 1rem;
}
.hire__job_title_2_text_vp_wf h3 {
  width: 10rem;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  margin-top: 2rem;
  margin-left: 1rem;
}
.hire__job_title_2_image_vp_wf {
  margin-top: 2rem;
  padding-left: 28rem;
  cursor: pointer;
}
.hire__job_title_2_image_vp_wf img {
  border: 1px;
  border-radius: 50%;
  background: #eeeeee;
  color: #eeeeee;
}
.hire__job_tile_2_viewapplication_vp_wf {
  margin-top: 1.2rem;
}
.hire__job_tile_2_viewapplication_vp_wf button {
  justify-content: center;
  flex: 0.2;
  width: 7rem;
  min-height: 2.5rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
.hire__job_title_3_vp_wf {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 50rem;
  min-width: 15rem;
  min-height: 5rem;
  border: 1px;
  border-radius: 8px;
  background: rgba(241, 245, 248, 1);
}
.hire__job_title_3_text_vp_wf h3 {
  width: 10rem;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  margin-top: 2rem;
  margin-left: 1rem;
}
.hire__job_title_3_image_vp_wf {
  margin-top: 2rem;
  padding-left: 28rem;
  cursor: pointer;
}
.hire__job_title_3_image_vp_wf img {
  border: 1px;
  border-radius: 50%;
  background: #eeeeee;
  color: #eeeeee;
}
.hire__job_tile_3_viewapplication_vp_wf {
  margin-top: 1.2rem;
}
.hire__job_tile_3_viewapplication_vp_wf button {
  justify-content: center;
  flex: 0.2;
  width: 7rem;
  min-height: 2.5rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
.hire__datetime_right_vp_wf {
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  width: 20rem;
  height: 25rem;
  border: 1px;
  border-radius: 8px;
  background: rgba(241, 245, 248, 1);
  margin-left: 5rem;
}
.hire__vacancyposted_vp_wf {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  margin-left: 2rem;
}
.hire__vacancyposted_vp_wf h4 {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.024000000208616257px;
  text-align: left;
}
.hire__vacancyposted_vp_wf h3 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.hire__vacancyexpire_vp_wf {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
  margin-left: 2rem;
}
.hire__vacancyexpire_vp_wf h4 {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.024000000208616257px;
}
.hire__vacancyexpire_vp_wf h3 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.hire__totalapplicants_vp_wf {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
  margin-left: 2rem;
}
.hire__totalapplicants_vp_wf h4 {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.024000000208616257px;
}
.hire__totalapplicants_vp_wf h3 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.hire__screeningstage_vp_wf {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
  margin-left: 2rem;
}
.hire__screeningstage_vp_wf h4 {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.024px;
}
.hire__screeningstage_vp_wf h3 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.hire__interviewstage_vp_wf {
  display: flex;
  flex-direction: column;
  margin-top: 0.7rem;
  margin-left: 2rem;
}
.hire__interviewstage_vp_wf h4 {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.024;
}
.hire__interviewstage_vp_wf h3 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.hire__rejectedaccepted_vp_wf {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 2rem;
}
.hire__rejected_vp_wf h4 {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.024;
}
.hire__rejected_vp_wf h3 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.hire__accepted_vp_wf {
  padding-left: 3rem;
}
.hire__accepted_vp_wf h4 {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.024;
}
.hire__accepted_vp_wf h3 {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}
.hire__totalviews_vp_wf {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  margin-left: 2rem;
}
.hire__totalviews_vp_wf h5 {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  padding-left: 0.3rem;
}
.hire__totalviews_vp_wf h4 {
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
}
