.hire__workforceaddemployees_wfae {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.hire__workforceaddemployees_left_wfae {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #eeeeee;
  width: 100%;
  max-width: 13rem;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
}
.hire__username_wfae {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 10rem;
  min-height: 5rem;
  background: rgba(238, 238, 238, 1);
  border: 1px solid #eeeeee;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin-bottom: 2rem;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.hire__username_text_wfae h5 {
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  margin-left: 0.5rem;
}
.hire__username_text_wfae h6 {
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
}
.hire__createvacancy_wfae {
  width: 100%;
  padding-bottom: 2rem;
}
.hire__createvacancy_wfae button {
  justify-content: center;
  flex: 0.2;
  width: 10rem;
  min-height: 2.5rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
.hire__notifications_wfae {
  width: 100%;
  padding-bottom: 2rem;
}
.hire__notifications_wfae button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  max-width: 10rem;
  min-height: 2.5rem;
  background: rgba(241, 241, 241, 1);
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__vacancies_wfae {
  width: 100%;
  padding-bottom: 2rem;
}
.hire__vacancies_wfae button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  max-width: 10rem;
  min-height: 2.5rem;
  background: rgba(241, 241, 241, 1);
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__messages_wfae {
  width: 100%;
  padding-bottom: 2rem;
}
.hire__messages_wfae button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  max-width: 10rem;
  min-height: 2.5rem;
  background: rgba(241, 241, 241, 1);
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__settings_wfae {
  width: 100%;
  padding-bottom: 2rem;
}
.hire__settings_wfae button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  max-width: 10rem;
  min-height: 2.5rem;
  background: rgba(241, 241, 241, 1);
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__feedback_wfae {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  width: 100%;
  max-width: 10rem;
  min-height: 2.5rem;
}
.hire__feedback_text_wfae button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  width: 10rem;
  min-height: 2.5rem;
  background-color: rgba(241, 241, 241, 1);
  border: 1px solid;
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__logout_wfae {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 10rem;
  min-height: 2.5rem;
  padding-bottom: 4.5rem;
}
.hire__logout_wfae button {
  justify-content: center;
  flex: 0.2;
  width: 100%;
  width: 10rem;
  min-height: 2.5rem;
  background-color: rgba(241, 241, 241, 1);
  border: 1px solid;
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
  outline: none;
  cursor: pointer;
  border: none;
}
.hire__workforceaddemployees_right_wfae {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: right;
}
.hire__company_header_wfae {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  text-align: left;
  align-items: center;
  justify-content: left;
}
.hire__company_profile_header_wfae h2 {
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
}
.hire__company_profile_header_wfae p {
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
}
.hire__photocompany_wfae {
  display: flex;
  flex-direction: row;
}
.hire__addphoto_wfae {
  display: flex;
  margin-top: 0.5rem;
  border-radius: 8px;
  background: rgba(241, 245, 248, 1);
}
.hire__addphoto_logo_wfae {
  border: 1px solid;
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  background: rgba(217, 217, 217, 1);
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  justify-content: center;
}
.hire__addphoto_logo_wfae img {
  height: 2rem;
  width: 2rem;
  border-radius: 0px;
  margin-top: 0.5rem;
}
.hire__addphoto_text_wfae h4 {
  height: 4rem;
  width: 7rem;
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 32px;
  padding-left: 5px;
}
.hire__aboutcompany_wfae {
  display: flex;
  border: 1px;
  height: 6rem;
  width: 15rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  background: rgba(241, 245, 248, 1);
  margin-left: 20px;
}
.hire__aboutcompany_logo_wfae {
  border: 1px solid;
  height: 3rem;
  width: 3rem;
  border-radius: 8px;
  background: rgba(217, 217, 217, 1);
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
  justify-content: center;
}
.hire__aboutcompany_logo_wfae img {
  margin-top: 0.5rem;
}
.hire__aboutcompany_text_wfae {
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 1.5rem;
  padding-left: 0.5rem;
}
.hire__aboutcompany_text_wfae h4 {
  width: 8rem;
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 5px;
}
.hire__generalbutton_wfae {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}
.hire__general_info_wfae h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}
.hire__edit_button_wfae {
  margin-left: 60rem;
  width: 100%;
  max-width: 4rem;
  min-height: 3rem;
  text-align: right;
  align-items: right;
  justify-content: right;
}

.hire__edit_button_wfae button {
  flex: 0.2;
  width: 100%;
  max-width: 70px;
  min-height: 30px;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 8px;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
}
.hire__company_body_wfae {
  border: 1x solid black;
  background: rgba(241, 241, 241, 1);
  height: 25rem;
  width: 80rem;
  border-radius: 8px;
  box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.25);
}
.hire__rectangle_camera_wfae {
  width: 6rem;
  height: 6rem;
  border-radius: 8px;
  border: 1px solid;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  justify-content: center;
  margin-left: 30px;
  margin-top: 30px;
}
.hire__rectangle_camera_wfae img {
  height: 2rem;
  width: 2rem;
  margin-top: 2rem;
}
.hire__rectangle_username_location_wfae {
  display: flex;
}
.hire__username_text_2_wfae {
  margin-top: 1.3rem;
  margin-left: 0.5rem;
}
.hire__username_text_2_wfae h1 {
  height: 3rem;
  width: 8rem;
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 49px;
  letter-spacing: 0em;
}
.hire__location_logo_wfae {
  display: flex;
}
.hire__location_logo_wfae img {
  height: 1rem;
  width: rem;
  border-radius: 0px;
}
.hire__location_logo_wfae h4 {
  height: 1rem;
  width: 4rem;
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  padding-left: 3px;
}
.hire__website_email_size_wfae {
  display: flex;
}
.hire__rectangle_1_wfae {
  height: 2rem;
  width: 0.2rem;
  border-radius: 0px;
  border: 1px solid black;
  background: rgba(134, 146, 166, 1);
  margin-left: 2rem;
  margin-top: 1.8rem;
}
.hire__rectangle_2_wfae {
  height: 2rem;
  width: 0.2rem;
  border-radius: 0px;
  border: 1px solid black;
  background: rgba(134, 146, 166, 1);
  margin-left: 10rem;
  margin-top: 1.8rem;
}
.hire__rectangle_3_wfae {
  height: 2rem;
  width: 0.2rem;
  border-radius: 0px;
  border: 1px solid black;
  background: rgba(134, 146, 166, 1);
  margin-left: 15rem;
  margin-top: 1.8rem;
}
.hire__company_website_wfae {
  margin-top: 1.8rem;
  padding-left: 0.2rem;
}
.hire__contact_email_wfae {
  margin-top: 1.8rem;
  padding-left: 0.2rem;
}
.hire__company_size_wfae {
  margin-top: 1.8rem;
  padding-left: 0.2rem;
}
.hire__social_media_links_wfae {
  display: flex;
  cursor: pointer;
}
.hire__linkedin_wfae {
  display: flex;
  margin-left: 2rem;
}
.hire__linkedin_logo_wfae img {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 2rem;
}
.hire__linkedin_text_wfae h5 {
  height: 2rem;
  width: 2rem;
  padding-left: 0.5rem;
  margin-top: 2rem;
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
.hire__facebook_wfae {
  display: flex;
  margin-left: 13rem;
}
.hire__facebook_logo_wfae img {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 2rem;
}
.hire__facebook_text_wfae h5 {
  height: 2rem;
  width: 2rem;
  padding-left: 0.5rem;
  margin-top: 2rem;
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
.hire__github_wfae {
  display: flex;
  border: none;
  margin-left: 10rem;
}
.hire__github_logo_wfae img {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 2rem;
}
.hire__github_text_wfae h5 {
  height: 2rem;
  width: 2rem;
  padding-left: 0.5rem;
  margin-top: 2rem;
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
.hire__instagram_wfae {
  display: flex;
  margin-left: 10rem;
}
.hire__instagram_logo_wfae img {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 2rem;
}
.hire__instagram_text_wfae h5 {
  height: 2rem;
  width: 2rem;
  padding-left: 0.5rem;
  margin-top: 2rem;
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
.hire__social_media_links_2_wfae {
  display: flex;
  border: none;
  margin-top: 8px;
  cursor: pointer;
}
.hire__telegram_wfae {
  display: flex;
  border: none;
  margin-left: 2rem;
}
.hire__telegram_logo_wfae img {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 1rem;
}
.hire__telegram_text_wfae h5 {
  height: 2rem;
  width: 2rem;
  padding-left: 0.5rem;
  margin-top: 1rem;
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
.hire__youtube_wfae {
  display: flex;
  margin-left: 13rem;
}
.hire__youtube_logo_wfae img {
  height: 1.5rem;
  width: 1.5rem;
  margin-top: 1rem;
}
.hire__youtube_text_wfae h5 {
  height: 2rem;
  width: 2rem;
  padding-left: 0.5rem;
  margin-top: 1rem;
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
.hire__company_description_wfae {
  height: 2rem;
  width: 2rem;
  border-radius: nullpx;
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 1rem;
  margin-left: 2rem;
}
.hire__company_description_arrow_wfae {
  margin-left: 2rem;
}
.hire__skillbuttonparagraph_wfae {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.hire__skillbutton_wfae {
  display: flex;
  flex-direction: row;
}
.hire__skillbutton_wfae h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}
.hire__skillbutton_wfae button {
  flex: 0.2;
  width: 100%;
  max-width: 1.5rem;
  min-width: 1rem;
  min-height: 1rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 50%;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  margin-left: 0.3rem;
}
.hire__skillparagraph_wfae {
  display: flex;
  flex-direction: row;
  width: 80rem;
  height: 3rem;
  border: 1px;
  border-radius: 8px;
  background: rgba(241, 241, 241, 1);
  text-align: center;
  justify-content: left;
}
.hire__skillparagraph_wfae h5 {
  margin-left: 1rem;
  margin-top: 0.7rem;
  border: 1px;
  border-radius: 8px;
  width: 3rem;
  height: 1.5rem;
  color: white;
  background: rgba(65, 66, 77, 1);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
}
.hire__languagebuttonparagraph_wfae {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.hire__languagebutton_wfae {
  display: flex;
  flex-direction: row;
}
.hire__languagebutton_wfae h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}
.hire__languagebutton_wfae button {
  flex: 0.2;
  width: 100%;
  max-width: 1.5rem;
  min-width: 1rem;
  min-height: 1rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 50%;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  margin-left: 0.3rem;
}
.hire__languageparagraph_wfae {
  display: flex;
  flex-direction: row;
  width: 80rem;
  height: 3rem;
  border: 1px;
  border-radius: 8px;
  background: rgba(241, 241, 241, 1);
  text-align: center;
  justify-content: left;
}
.hire__languageparagraph_wfae h5 {
  margin-left: 1rem;
  margin-top: 0.7rem;
  border: 1px;
  border-radius: 8px;
  width: 6rem;
  height: 1.5rem;
  color: white;
  background: rgba(65, 66, 77, 1);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-top: 0.2rem;
}
.hire__aboutmebuttonparagraph_wfae {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}
.hire__aboutmebutton_wfae {
  display: flex;
  flex-direction: row;
}
.hire__aboutmebutton_wfae h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}
.hire__aboutmebutton_wfae button {
  flex: 0.2;
  width: 100%;
  max-width: 1.5rem;
  min-width: 1rem;
  min-height: 1rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 50%;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  margin-left: 0.3rem;
}
.hire__aboutmeparagraph_wfae {
  margin-top: 0.7rem;
}
.hire__aboutmeparagraph_wfae h5 {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.hire__workbuttonparagraph_wfae {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.hire__workbutton_wfae {
  display: flex;
  flex-direction: row;
}
.hire__workbutton_wfae h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}
.hire__workbutton_wfae button {
  flex: 0.2;
  width: 100%;
  max-width: 1.5rem;
  min-width: 1rem;
  min-height: 1rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 50%;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  margin-left: 0.3rem;
}
.hire__workparagraph_wfae {
  margin-top: 0.7rem;
}
.hire__workparagraph_wfae h5 {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.hire__educationbuttonparagraph_wfae {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.hire__educationbutton_wfae {
  display: flex;
  flex-direction: row;
}
.hire__educationbutton_wfae h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}
.hire__educationbutton_wfae button {
  flex: 0.2;
  width: 100%;
  max-width: 1.5rem;
  min-width: 1rem;
  min-height: 1rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 50%;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  margin-left: 0.3rem;
}
.hire__educationparagraph_wfae {
  margin-top: 0.7rem;
}
.hire__educationparagraph_wfae h5 {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.hire__licencebuttonparagraph_wfae {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.hire__licencebutton_wfae {
  display: flex;
  flex-direction: row;
}
.hire__licencebutton_wfae h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}
.hire__licencebutton_wfae button {
  flex: 0.2;
  width: 100%;
  max-width: 1.5rem;
  min-width: 1rem;
  min-height: 1rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 50%;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  margin-left: 0.3rem;
}
.hire__licenceparagraph_wfae {
  margin-top: 0.7rem;
}
.hire__licenceparagraph_wfae h5 {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.hire__researchbuttonparagraph_wfae {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.hire__researchbutton_wfae {
  display: flex;
  flex-direction: row;
}
.hire__researchbutton_wfae h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}
.hire__researchbutton_wfae button {
  flex: 0.2;
  width: 100%;
  max-width: 1.5rem;
  min-width: 1rem;
  min-height: 1rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 50%;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  margin-left: 0.3rem;
}
.hire__researchparagraph_wfae {
  margin-top: 0.7rem;
}
.hire__researchparagraph_wfae h5 {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.hire__awardsbuttonparagraph_wfae {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.hire__awardsbutton_wfae {
  display: flex;
  flex-direction: row;
}
.hire__awardsbutton_wfae h2 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
}
.hire__awardsbutton_wfae button {
  flex: 0.2;
  width: 100%;
  max-width: 1.5rem;
  min-width: 1rem;
  min-height: 1rem;
  background: rgba(0, 173, 181, 1);
  border: 1px solid;
  border-radius: 50%;
  z-index: 1;
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  margin-left: 0.3rem;
}
.hire__awardsparagraph_wfae {
  margin-top: 0.7rem;
}
.hire__awardsparagraph_wfae h5 {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.hire__save_button_wfae {
    text-align: left;
    align-items: left;
    justify-content: left;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .hire__save_button_wfae button {
    flex: 0.2;
    width: 100%;
    max-width: 5rem;
    min-width: 3rem;
    min-height: 2rem;
    background: rgba(0, 173, 181, 1);
    border: 1px solid;
    border-radius: 8px;
    z-index: 1;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
  }

