.hire_employers{
    height: 100vh;
  }
  .hire_signup_logo{
    margin-left: 1.5rem;
  }
  .hire_header{
    margin-top: -2rem;
  }
  .hire_header h1{
      text-align: center;
      font-style: normal;
      font-weight: 500;
      font-size: 32px;
  }
  .hire_header h2{
      padding-top: -4rem;
      text-align: center;
      font-style: normal;
      font-weight: 470;
      font-size: 18.5px;
      
  }
  .hire_employers_logo{
    display: flex;
  }
  
  .hire_employers_logo img{
    margin-left:12rem;
    margin-top: 2rem;
  }
  .hire_data{
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    margin-top: 1rem;
  }
  .hire_data_1{
    display: flex;
  }
  .hire_data_2{
    display: flex;
  }
  .hire_data_3{
    display: flex;
  }
  .hire_1{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    border: 1px solid black;
    width: 50px;
    height:40px;
  }
  .hire_1 h3{
    text-align:justify;
    align-items: center;
    justify-content: center;
    padding: 1px;
  }
  .hire_2{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    border: 1px solid black;
    width: 50px;
    height:40px;
  }
  .hire_2 h3{
    text-align:justify;
    align-items: center;
    justify-content: center;
    padding: 1px;
  }
  
  .hire_3{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    border: 1px solid black;
    width: 50px;
    height:40px;
  }
  .hire_3 h3{
    text-align:justify;
    align-items: center;
    justify-content: center;
    padding: 1px;
  }
  .hire_data_column{
    margin-top: -1.4rem;
    padding-left: 1rem;
  }
  .hire_button button{
      position: relative;
      left: 40rem;
      margin-top: 5rem;
      align-items: center;
      width: 100%;
      max-width: 80px;
      min-height: 15px;
      background: #00ADB5;
      box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      z-index: 2;
      font-weight: 200;
      font-size: 12px;
      line-height: 26px;
      color: #EEEEEE;
      outline: none;
      cursor: pointer;
      padding: 0 1rem;
      border: none;
  }
  