.hire__employerdirection_emp {
  width: 100%;
}
.hire__header_text_emp {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.hire__header_text1_emp h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 32px;
}
.hire__header_text2_emp h2 {
  font-family: var(--font-family);
  font-weight: 470;
  font-size: 18.5px;
  padding-bottom: 0.5rem;
}
.hire__body_emp {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.hire__body_image_emp img {
  margin-left: 10rem;
}
.hire__body_right_emp {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  width: 100%;
}
.hire__body_box1_emp {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hire__body_box1_number_emp {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hire__body_box1_number_emp h3 {
  text-align: left;
  align-items: center;
  justify-content: center;
}
.hire__body_box1_text_emp {
  padding-left: 1rem;
  max-width: 500px;
  text-align: left;
  justify-content: left;
  align-items: left;
}
.hire__body_box1_text_emp h3 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  padding-bottom: 0.3rem;
  text-align: left;
  align-items: left;
  justify-content: left;
}
.hire__body_box1_text_emp p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.hire__body_box2_emp {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hire__body_box2_number_emp {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hire__body_box2_number_emp h3 {
  font-family: var(--font-family);
  align-items: center;
  justify-content: center;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hire__body_box2_text_emp {
  padding-left: 1rem;
  max-width: 500px;
  text-align: left;
  justify-content: left;
  align-items: left;
}
.hire__body_box2_text_emp h3 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  padding-bottom: 0.3rem;
  text-align: left;
  align-items: left;
  justify-content: left;
}
.hire__body_box2_text_emp p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.hire__body_box3_emp {
  display: flex;
  padding-bottom: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hire__body_box3_number_emp {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hire__body_box3_number_emp h3 {
  text-align: left;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.hire__body_box3_text_emp {
  padding-left: 1rem;
  max-width: 500px;
  text-align: left;
  justify-content: left;
  align-items: left;
}
.hire__body_box3_text_emp h3 {
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  padding-bottom: 0.3rem;
  text-align: left;
  align-items: left;
  justify-content: left;
}
.hire__body_box3_text_emp p {
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  align-items: center;
  justify-content: center;
}
.hire__continue_button_emp {
  align-items: center;
  text-align: center;
  justify-content: center;
}
.hire__continue_button_emp button {
  position: relative;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  max-width: 5rem;
  min-height: 1rem;
  background: #00adb5;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 2;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 12px;
  line-height: 26px;
  color: #eeeeee;
  outline: none;
  cursor: pointer;
  padding: 0 1rem;
  border: none;
}
