.hire__workforcedirection{
  height: 100%;
  width: 100%;
}
.hire__signup_logo_wf img{
  margin-right: 4rem;
}
.hire__header_text1_wf h1{
    text-align: center;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    justify-content: center;
}
.hire__header_text2_wf h2{
    text-align: center;
    font-family: var(--font-family);
    font-weight: 470;
    font-size: 18.5px;
    padding-bottom: 1.5rem;
}
.hire__employers_image_wf{
  display: flex;
}
.hire__employers_image_wf img{
  margin-left:15rem;
  margin-top: 3rem;
}
.hire__data_right_wf{
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  width: 100%;
}
.hire__data_right_box1_wf{
  display: flex;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}
.hire__data_right_box2_wf{
  display: flex;
  padding-bottom: 1.5rem;
}
.hire__data_right_box3_wf{
  display: flex;
  padding-bottom: 3rem;
}
.hire__box1_wf{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
  width: 3rem;
  height:3rem;
}
.hire__data_box1_wf h3{
  text-align:justify;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.hire__box2_wf{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  border: 1px solid black;
  width: 3rem;
  height:3rem;
}
.hire__box2_wf h3{
  text-align:justify;
  align-items: center;
  font-family: var(--font-family);
  justify-content: center;
  padding: 1rem;
}

.hire__box3_wf{
  display: flex;
  align-items: center;
  justify-content:center;
  flex-direction: column;
  border: 1px solid black;
  width: 3rem;
  height:3rem;
}
.hire__box3_wf h3{
  text-align:justify;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.hire__data_paragraph_wf{
  padding-left: 1rem;
}
.hire__data_paragraph_wf h3{
  padding-bottom: 0.5rem;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}
.hire__data_paragraph_wf p{
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.hire__continue_button_wf{
  padding-bottom: 0.5rem;
  margin-left: 45rem;
  justify-content: center;
}
.hire__continue_button_wf button{
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 5rem;
  min-height: 1rem;
  background: #00ADB5;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 2;
  font-family: var(--font-family);
  font-weight: 200;
  font-size: 12px;
  line-height: 26px;
  color: #EEEEEE;
  outline: none;
  cursor: pointer;
  padding: 0 1rem;
  border: none;
}
