.hire__employerinfo_cie{
  width: 100%;
}
 .hire__header_cie{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.hire__header_username_cie{
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  margin-right: 5rem; 
}

.hire__header_username_background_cie{
    width:100%;
    height: 1.5rem;
    width: 1.5rem;
    border :1px;
    border-radius: 50%;
    background-color: #00ADB5;
}
.hire__header_username_background_cie h5{
    font-family: var(--font_family);
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.hire__header_username_text_cie{
    padding-left: 0.2rem;
}
.hire__header_username_text_cie h5{
    height: 4rem;
    width: 4rem;
    border-radius: nullpx;
    font-family: var(--font_family);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
.hire__companyinformation_cie{
  display:inline-flex;
  width: 100%;
  background-image: url("../assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hire__companyinformation_cie h2{
  margin-top: -1rem;
  width: 100%;
  max-width: 100rem;
  min-height: 9rem;
  font-family: var(--font_family);
  color: rgba(255,255,255,1);
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  padding-top: 3.4rem;
} 
.hire__upload_photo_cie{
  display: flex;
  flex-direction:row;
  text-align: center;
  justify-content: center;
  align-items: left;
  margin-top: 2rem;
}
.hire__camera_pic_cie{
  background-image: url("../assets/Rectanglecamera.png");
  height: 6rem;
  width: 6rem;
  border-radius: 8px;
  margin-left: -43rem;
  cursor: pointer;
}
.hire__camera_pic_cie img{
  height: 2rem;
  width: 2rem;
  margin-top: 2rem;
  border-radius: 0px;
}
.hire__upload_text_cie{
  padding-top: 2rem;
}
.hire__upload_text_cie h3{
  position:absolute;
  width: 100%;
  min-height: 2rem;
  max-width: 15rem;
  margin-left: 1rem;
  border-radius: nullpx;
  font-family: var(--font_family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
} 
.hire__employee_data_cie{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hire__company_name_cie input{
    width: 100%;
    max-width: 25rem;
    min-width: 780px;
    min-height: 60px;
    margin-bottom: 0.5rem;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    padding: 0 1rem;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.hire__company_mail_cie input{
  width: 100%;
  max-width: 25rem;
  min-width: 780px;
  min-height: 60px;
  border: 1px solid #D2D2D2;
  border-radius: 8px;
  padding: 0 1rem;
  font-family: var(--font_family);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.hire__phone_number_cie input{
    /* background-image: url(../assets/india.png);
    background-repeat: no-repeat;
    padding-top: 10px; */
    width: 100%;
    max-width: 25rem;
    min-width: 780px;
    min-height: 60px;
    margin-top: 0.5rem;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    padding: 0 1rem;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.hire__country_dropdown_cie{
  max-width: 25rem;
  min-width: 780px;
  min-height: 60px;
  padding-top: 0.5rem;
  border-radius: 8px;
}
.hire__country_dropdown_cie select{
  min-height: 60px;
}
.hire__state_region_cie input{
  width: 100%;
  max-width: 25rem;
  min-width: 780px;
  min-height: 60px;
  margin-top: 0.5rem;
  border: 1px solid #D2D2D2;
  border-radius: 8px;
  padding: 0 1rem;
  font-family: var(--font_family);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.hire__company_size_cie input{
    width: 100%;
    max-width: 25rem;
    min-width: 780px;
    min-height: 60px;
    margin-top: 0.5rem;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
    padding: 0 1rem;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.hire__company_description_cie input{
  width: 100%;
  max-width: 26.75rem;
  min-width: 780px;
  min-height: 100px;
  margin-top: 0.5rem;
  border: 1px solid #D2D2D2;
  border-radius: 8px;
  font-family: var(--font_family);
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
.hire__company_links_cie{
  padding-top: 1rem;
}
.hire__company_links_cie h2{
  font-family: var(--font_family);
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  margin-left: -39rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hire__social_links_cie{
  display: flex;
  flex-direction: row;
  padding-top: 1rem;
  margin-left: -14.5rem;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.hire__social_links_cie button{
  border: 1px solid #D2D2D2;
  border-radius: 8px;
  background-color: #FFFFFF;
  padding: 1rem;
  max-width: 68px;
  max-height: 68px;
  margin-right: 1rem;
  cursor: pointer;
}
.hire__www_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5rem;
  margin-right: 1rem;
  width: 100%;
  width: 4rem;
  cursor: pointer;
}
.hire__www_cie img{
  padding-left: 0.1rem;
  padding-top: 0.5rem;
}
.hire__linkedin_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5rem;
  margin-right: 1rem;
  width: 100%;
  width: 4rem;
  cursor: pointer;
}
.hire__linkedin_cie img{
  padding-top: 0.5rem;
}
.hire__facebook_cie{
  border: 1px solid black;
  border-radius: 6px;
  text-align: center;
  padding: 0.5rem;
  margin-right: 1rem;
  width: 100%;
  width: 4rem;
  cursor: pointer;
}
.hire__facebook_cie img{
  padding-left: 0.1rem;
  padding-top: 0.5rem;
}
.hire__github_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5rem;
  margin-right: 1rem;
  width: 100%;
  width: 4rem;
  cursor: pointer;
}
.hire__github_cie img{
  padding-left: 0.1rem;
  padding-top: 0.5rem;
}
.hire__instagram_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5rem;
  margin-right: 1rem;;
  width: 100%;
  width: 4rem;
  cursor: pointer;
}
.hire__instagram_cie img{
  padding-left: 0.1rem;
  padding-top: 0.5rem;
}
.hire__telegram_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5rem;
  margin-right: 1rem;
  width: 100%;
  width: 4rem;
  cursor: pointer;
}
.hire__telegram_cie img{
  padding-left: 0.1rem;
  padding-top: 0.5rem;
}
.hire__youtube_cie{
  border: 1px solid black;
  border-radius: 6px;
  padding: 0.5rem;
  cursor: pointer;
  width: 4rem;
}
.hire__youtube_cie img{
  padding-left: 0.1rem;
  padding-top: 0.8rem;
}
.hire__create_button_cie{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: -39rem;
  text-align:center;
  align-items: center;
  justify-content:center;
}
.hire__create_button_cie button{
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 150px;
    min-height: 40px;
    background: #00ADB5;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 2;
    font-weight: 200;
    font-size: 12px;
    line-height: 26px;
    color: #EEEEEE;
    outline: none;
    cursor: pointer;
    padding: 0 1rem;
    border: none;
}


.hire__www_cie.hide {
  display: none;
}

.hire__www_cieinput {

  border: 1px solid #ccc;
  border-radius: 4px;
}

