.hire__brand {
    width: 100%;
    background: #FFFFFF;
    padding-left: 10rem;
    padding-right: 10rem;
}

.hire__explore {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hire__explore h1 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    color: var(--color-blog);
}

.hire__brand_contents {
    display: flex;
    padding-top: 3rem;
    flex-direction: row;
    justify-content: space-between;
}

.hire__brand_employer {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 1rem;
    min-width: 350px;
    max-height: 150px;
}

.hire__brand_employer img{
    background: var(--color-blog);
    border-radius: 50%;
    height: 70px;
    transform: translate(0px, -50px);
}

.hire__brand_employertext h2 {
    font-family: var(--font-family);
    color: var(--color-blog);
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
}

.hire__brand_employertext h3 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.hire__brand_workforce {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 1rem;
    min-width: 350px;
    max-height: 150px;
}

.hire__brand_workforcetext h2 {
    font-family: var(--font-family);
    color: var(--color-blog);
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;

}

.hire__brand_workforcetext h3 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.hire__brand_workforce img{
    background: var(--color-blog);
    border-radius: 50%;
    height: 70px;
    transform: translate(0px, -50px);
}

.hire__brand_empowerer img{
    background: var(--color-blog);
    border-radius: 50%;
    height: 70px;
    transform: translate(0px, -50px);
}

.hire__brand_empowerer {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 1rem;
    min-width: 350px;
    max-height: 150px;
}

.hire__brand_empowerertext h2 {
    font-family: var(--font-family);
    color: var(--color-blog);
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;

}

.hire__brand_empowerertext h3 {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}