.hire__company_profile_cpe{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.hire__company_profile_left_cpe{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: 1px solid #EEEEEE;
    width: 100%;
    max-width: 13rem;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
}
.hire__username_cpe{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 10rem;
    min-height: 5rem;
    background: rgba(238, 238, 238, 1);
    border: 1px solid #EEEEEE;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-bottom: 2rem;
    justify-content: center;
    text-align:center;
    align-items: center;
}
.hire__username_text_cpe h5{
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    margin-left: 0.5rem;
}
.hire__username_text_cpe h6{
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
}
.hire__createvacancy_cpe{
    width: 100%;
    padding-bottom: 2rem;
}
.hire__createvacancy_cpe button{
    justify-content: center;
    flex: 0.2;
    width: 10rem;
    min-height: 2.5rem;
    background: rgba(0, 173, 181, 1);
    border: 1px solid;
    border-radius: 8px;
    z-index: 1;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}
.hire__notifications_cpe{
    width: 100%;
    padding-bottom: 2rem;
}
.hire__notifications_cpe button{
    justify-content: center;
    flex: 0.2;
    width: 100%;
    max-width: 10rem;
    min-height: 2.5rem;
    background: rgba(241, 241, 241, 1);
    border-radius: 8px;
    z-index: 1;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    outline: none;
    cursor: pointer;
    border: none;
}.hire__vacancies_cpe{
    width: 100%;
    padding-bottom: 2rem;
}
.hire__vacancies_cpe button{
    justify-content: center;
    flex: 0.2;
    width: 100%;
    max-width: 10rem;
    min-height: 2.5rem;
    background: rgba(241, 241, 241, 1);
    border-radius: 8px;
    z-index: 1;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    outline: none;
    cursor: pointer;
    border: none;
}
.hire__messages_cpe{
    width: 100%;
    padding-bottom: 2rem;
}
.hire__messages_cpe button{
    justify-content: center;
    flex: 0.2;
    width: 100%;
    max-width: 10rem;
    min-height: 2.5rem;
    background: rgba(241, 241, 241, 1);
    border-radius: 8px;
    z-index: 1;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    outline: none;
    cursor: pointer;
    border: none;
}
.hire__settings_cpe{
    width: 100%;
    padding-bottom: 2rem;
}
.hire__settings_cpe button{
    justify-content: center;
    flex: 0.2;
    width: 100%;
    max-width: 10rem;
    min-height: 2.5rem;
    background: rgba(241, 241, 241, 1);
    border-radius: 8px;
    z-index: 1;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    outline: none;
    cursor: pointer;
    border: none;
}
.hire__feedback_cpe{
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    width: 100%;
    max-width: 10rem;
    min-height: 2.5rem;
}
.hire__feedback_text_cpe button{
    justify-content: center;
    flex: 0.2;
    width: 100%;
    width: 10rem;
    min-height: 2.5rem;
    background-color: rgba(241, 241, 241, 1);
    border: 1px solid;
    border-radius: 8px;
    z-index: 1;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    outline: none;
    cursor: pointer;
    border: none;
}
.hire__logout_cpe{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 10rem;
    min-height: 2.5rem;
    padding-bottom: 4.5rem;
}
.hire__logout_cpe button{
    justify-content: center;
    flex: 0.2;
    width: 100%;
    width: 10rem;
    min-height: 2.5rem;
    background-color: rgba(241, 241, 241, 1);
    border: 1px solid;
    border-radius: 8px;
    z-index: 1;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    outline: none;
    cursor: pointer;
    border: none;
}
.hire__company_profile_right_cpe{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.hire__company_header_cpe{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    width: 100%;
}
.hire__company_profile_header_cpe{
    justify-content:space-between;
    text-align: center;
    align-items: center;
    
}
.hire__company_profile_header_cpe h2{
    width: 100%;
    min-width: 12rem;
    min-height: 2rem;
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}
.hire__company_members_cpe{
    width: 100%;
    max-width: 20rem;
    justify-content:center;
    text-align: center;
    align-items: center;
}
.hire__company_members_cpe h2{
   
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
}
.hire__edit_button_cpe{
    width: 100%;
    max-width: 100rem;
   text-align: right;
   align-items: right;
   justify-content: right;
}

.hire__edit_button_cpe button{
    flex: 0.2;
    width: 100%;
    max-width: 70px;
    min-height: 30px;
    background: rgba(0, 173, 181, 1);
    border: 1px solid;
    border-radius: 8px;
    z-index: 1;
    font-weight: 400;
    font-size: 12px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}
.hire__company_body_cpe{
    border: 1x solid black;
    background: rgba(241, 241, 241, 1);
    height: 25rem;
    width: 80rem;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 0.25);
}
.hire__rectangle_camera_cpe{
    width: 6rem;
    height: 6rem;
    border-radius: 8px;
    border: 1px solid;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
    margin-left: 30px;
    margin-top: 30px;
}
.hire__rectangle_camera_cpe img{
    height: 2rem;
    width: 2rem;
    margin-top: 2rem;
}
.hire__rectangle_username_location_cpe{
    display: flex;
}
.hire__username_text_2_cpe{
    margin-top: 1.3rem;
    margin-left: 0.5rem;
}
.hire__username_text_2_cpe h1{
    height: 3rem;
    width: 8rem;
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 30px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0em;
}
.hire__location_logo_cpe{
    display: flex;
}
.hire__location_logo_cpe img{
    height: 1rem;
    width: rem;
    border-radius: 0px;
}
.hire__location_logo_cpe h4{
    height: 1rem;
    width: 4rem;
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 3px;

}
.hire__website_email_size_cpe{
    display: flex;
}
.hire__rectangle_1_cpe{
    height: 2rem;
    width: 0.2rem;
    border-radius: 0px;
    border: 1px solid black;
    background: rgba(134, 146, 166, 1);
    margin-left: 2rem;
    margin-top: 1.8rem;
}
.hire__rectangle_2_cpe{
    height: 2rem;
    width: 0.2rem;
    border-radius: 0px;
    border: 1px solid black;
    background: rgba(134, 146, 166, 1);
    margin-left: 10rem;
    margin-top: 1.8rem;
}
.hire__rectangle_3_cpe{
    height: 2rem;
    width: 0.2rem;
    border-radius: 0px;
    border: 1px solid black;
    background: rgba(134, 146, 166, 1);
    margin-left: 15rem;
    margin-top: 1.8rem;
}
.hire__company_website_cpe{
    margin-top: 1.8rem;
    padding-left: 0.2rem;
}
.hire__contact_email_cpe{
    margin-top: 1.8rem;
    padding-left: 0.2rem;
}
.hire__company_size_cpe{
    margin-top: 1.8rem;
    padding-left: 0.2rem;
}
.hire__social_media_links_cpe{
    display: flex;
    cursor: pointer;
}
.hire__linkedin_cpe{
    display: flex;
    margin-left: 2rem;
}
.hire__linkedin_logo_cpe img{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 2rem;
}
.hire__linkedin_text_cpe h5{
    height: 2rem;
    width: 2rem;
    padding-left: 0.5rem;
    margin-top: 2rem;
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.hire__facebook_cpe{
    display: flex;
    margin-left: 13rem;
}
.hire__facebook_logo_cpe img{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 2rem;
}
.hire__facebook_text_cpe h5{
    height: 2rem;
    width: 2rem;
    padding-left: 0.5rem;
    margin-top: 2rem;
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.hire__github_cpe{
    display: flex;
    border: none;
    margin-left: 10rem;
}
.hire__github_logo_cpe img{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 2rem;
}
.hire__github_text_cpe h5{
    height: 2rem;
    width: 2rem;
    padding-left: 0.5rem;
    margin-top: 2rem;
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.hire__instagram_cpe{
    display: flex;
    margin-left: 10rem;
}
.hire__instagram_logo_cpe img{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 2rem;
}
.hire__instagram_text_cpe h5{
    height: 2rem;
    width: 2rem;
    padding-left: 0.5rem;
    margin-top: 2rem;
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.hire__social_media_links_2_cpe{
    display: flex;
    border: none;
    margin-top: 8px;
    cursor: pointer;
}
.hire__telegram_cpe{
    display:flex;
    border: none;
    margin-left: 2rem;
}
.hire__telegram_logo_cpe img{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1rem;
}
.hire__telegram_text_cpe h5{
    height: 2rem;
    width: 2rem;
    padding-left: 0.5rem;
    margin-top: 1rem;
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.hire__youtube_cpe{
    display: flex;
    margin-left: 13rem;
}
.hire__youtube_logo_cpe img{
    height: 1.5rem;
    width: 1.5rem;
    margin-top: 1rem;
}
.hire__youtube_text_cpe h5{
    height: 2rem;
    width: 2rem;
    padding-left: 0.5rem;
    margin-top: 1rem;
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
}
.hire__company_description_cpe{
    height: 2rem;
    width: 2rem;
    border-radius: nullpx;
    font-family: var(--font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 1rem;
    margin-left: 2rem;
}
.hire__company_description_arrow_cpe{
    margin-left: 30px;

}
